<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />

    <title>用户登录</title>
 
</head>
<body>
<div class="mainBox">
    <div></div>
    <div class="leftBox">
        <div></div>
        <div class="loginBoxTop png"></div>
        <div class="loginBox png">
            <div th:if="${param.error}">
                <input th:value="无效的用户或密码！" id="errorMsg" type="hidden"/>
            </div>
            <div th:if="${param.logout}">
                <input th:value="你已经退出！" id="errorMsg" type="hidden"/>
            </div>
            <div th:if="${#httpServletRequest.remoteUser != null}">
                <input th:value="${#httpServletRequest.remoteUser}" id="errorMsg" type="hidden"/>
            </div>
            <form th:action="@{/login}" id="loginForm" method="post">
                <div class="loginTit png"></div>
                <ul class="infList">
                    <li class="grayBox">
                        <label for="username" class="username-icon"></label>
                        <input id="username" class="username" name="username" type="text" placeholder="您的用户名"/>
                        <div class="close png hide"></div>
                    </li>
                    <li class="grayBox">
                        <label class="pwd-icon" id="pwd"></label>
                        <input id="password" name="password" class="pwd" type="password" placeholder="登录密码"/>
                        <div class="close png hide"></div>
                    </li>

                </ul>
                <ul class="infList reloadBtn" style="display: none;">
                    <li>
                        <a href="javascript:void(0);" onclick="tologin();">本页面已经失效。请点击此处重新登录。</a>
                    </li>
                </ul>
                <div class="loginBtnBox">
                    <div class="check-box"><input type="hidden" value="0" id="remember-me" name="remember-me" onclick="if(this.checked){this.value = 1}else{this.value=0}" /><span class="toggleCheck no-check" id="repwd"></span>记住我</div>
                    <input name="submit" type="submit"/>
                </div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="loginBoxBot"></div>
        
    </div>
</div>
<input th:value="${errorMsg}" id="errorMsg" type="hidden"/>
</body>
</html>
